name: Continuous Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Composer Install
        run: composer install --ignore-platform-reqs
      - name: Run Tests
        run: vendor/bin/phpunit
      - name: Deploy to production
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          script: 'cd /var/www/html && ./deploy/server_deploy.sh'
